* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.8;
}



.title-div {
	height: 30vh;
	width: 100%;
    background: #121618;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;

}

.sec-1 {
    height: 45vh;
	width: 100%;
    background-image: url("images/wood-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.food-item-description {
    font-size: 12px;
    padding-top: 3px;
}

.sec-1 img {
    width: 200px;
    height: auto;
}

.sec-2 {
    text-align: center;
    padding: 0px 30px 0px 30px;
    height: 150vh;
	width: 100%;
    background: orange;
    background-image: url("images/pizza-background.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sec-2-snapshot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;

}

.sec-title {
    font-size: 28px;
    color: white;
}

.sec-3 {
    height: 310vh;
	width: 100%;
    background: #121618;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}


.sales-image-title {
    font-size: 19px;
    color: white;
}

.sales-image-title:hover {
    color: rgba(255, 255, 0, 0.884);
    cursor: pointer;
}


.sales-image-text {
    font-size: 17px;
    color: white;

}

.sales-image-price {
    font-size: 25px;
    color: white;

}

.sales-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    justify-content: space-between;
}

.sales-snippet img {
    width: 290px;
    height: auto;
}

.sec-5 {
    background-image: url("images/pizza-background.png");
    height: 250vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec-5-content {
    height: 85%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sec-title-large {
    font-size: 34px;
}

.test-img {
    border-radius: 50%;
    height: 45px;
    margin: 0px;
    margin-right: 22px;
    padding: 0px;
    
}

.test-text {
    border: 2px solid  black; 
    padding: 25px;
}

.testmonial-footer {
    display: flex;
    align-items: flex-end;   
    padding-top: 12px; 
}

.sec-6 {
    background: #121618;
    height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-6-content {
    width: 80%;
    height: 80%;
    text-align: center;
}



.menu-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
    padding: 20px 0 65px 0;
    color: white;
    font-weight: bold;
}

.menu-nav div {
    cursor: pointer;
    
}

.selected {
    color: rgba(255, 255, 0, 0.884);
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-items img {
    width: 100px;
    height: auto;
}