* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.8;
}



.title-div {
	height: 30vh;
	width: 100%;
    background: #121618;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;

}

#menu {
    position: absolute;
    right: 25px;
    width: 30px;

}

.sec-1 {
    height: 45vh;
	width: 100%;
    background-image: url("images/wood-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.food-item-description {
    font-size: 12px;
    padding-top: 3px;
}

.sec-1 img {
    width: 200px;
    height: auto;
}

.sec-2 {
    text-align: center;
    padding: 0px 30px 0px 30px;
    height: 150vh;
	width: 100%;
    background: orange;
    background-image: url("images/pizza-background.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sec-2-snapshot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
   

}

.sec-title {
    font-size: 28px;
    color: white;
}

.sec-3 {
    height: 310vh;
	width: 100%;
    background: #121618;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}


.sales-image-title {
    font-size: 19px;
    color: white;
}

.sales-image-title:hover {
    color: rgba(255, 255, 0, 0.884);
    cursor: pointer;
}


.sales-image-text {
    font-size: 17px;
    color: white;

}

.sales-image-price {
    font-size: 25px;
    color: white;

}

.sales-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    justify-content: space-between;
}

.sales-snippet img {
    width: 290px;
    height: auto;
}

.sec-4 {
    background-image: url("images/pizza-background.png");
    height: 250vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec-4-content {
    height: 85%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sec-title-large {
    font-size: 34px;
}

.test-img {
    border-radius: 50%;
    height: 45px;
    margin: 0px;
    margin-right: 22px;
    padding: 0px;
    
}

.test-text {
    border: 2px solid  black; 
    padding: 25px;
}

.testmonial-footer {
    display: flex;
    align-items: flex-end;   
    padding-top: 12px; 
}

.sec-5 {
    background: #121618;
    height: 290vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-5-content {
    width: 90%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.menu-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
    padding: 20px 0 65px 0;
    color: white;
    font-weight: bold;
}

.menu-nav div {
    cursor: pointer;
    
}

.menu-nav div:hover {
    color: rgba(255, 255, 0, 0.884);   
}

.selected {
    color: rgba(255, 255, 0, 0.884);
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 15px;
    margin-bottom: 50px;

}

.menu-item {
    margin-bottom: 50px;

}

.menu-item h4 {
    font-size: 18px;
    margin-bottom: 11px;


}
.menu-items img {
    width: 127px;
    height: auto;
    margin-bottom: 20px;
}

.menu-item-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 11px;
}

.section-6 {
    height: 64vh;
    width: 100%;
    background-image: url("images/pizza-background.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-6-content {
    width: 80%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.sec-6-content image {
    padding: 20px 0 20px 0;
}

.sec-6-title {
    font-size: 32px;
    line-height: 1;
    color: black;
}

.mini-title {
    font-size: 14px;
}

.footer1 {
    background-color: #121618;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1D2326;
  
}

.footer-1-content {
    height: 180px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
   
}

.sec-title {
    font-size: 36px;
    line-height: 1;
    color: rgb(223, 222, 222);
    
}

.footer-1-content input {
    height: 50px;
    width: 270px;
    position: relative;
    top: 1px;
    background: #121618;
    border: 1px solid #1D2326;
    padding-left: 20px;
    font-size: 15px;
    color: rgb(223, 222, 222);


}

.footer-1-content input:active {
    outline: none;
}

.footer-1-content button {
    margin: 0px;
    height: 50px;
    width: 90px;
    background: #1D2326;
    border: none;
    color: rgb(223, 222, 222);
}

.input {
    
    font-size: 0;
    padding-left: 20px;
    

}

.input::placeholder {
    color: white;
  }

.footer2 {
    background: #121618;;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer2-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    width: 400px;
}

.footer2-top-content {
    height: 50%;
}

.footer2-bottom-content {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
} 

.phone-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.footer2-menu {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: white;
    
}

.phone {
    color: white;
}

.time {
    color: #677872;
    font-size: 14px;
}

.copyright {
    color: #677872;
}

.footer2-menu div {
    align-self: center;
}

.footer2-menu div:hover {
    color: rgba(255, 255, 0, 0.884);
    cursor: pointer;   